<div>
  <h1 class="header-small">
    <i class="fa fa-th"></i> <span class="hide-648">Containers</span>
    <div class="pull-right" style="margin-top: -5px;">
      <span class="label label-default" title="CPU Load, %" style="font-size: 14px; vertical-align: middle;cursor: default;">{{cpu}}</span>
      <span class="label label-default" title="RAM Total/Free, Mb" style="font-size: 14px; vertical-align: middle;cursor: default;">{{ram}}</span>
      <span class="label label-primary" title="Running Containers" style="font-size: 14px; vertical-align: middle;cursor: default;">Running: {{runningContainers}}</span>
      <button class="btn btn-sm btn-success" type="button" ng-click="actionSelected('Start')">Start</button>
      <button class="btn btn-sm btn-warning" type="button" ng-click="actionSelected('Stop')">Stop</button>
      <button class="btn btn-sm btn-danger" type="button" ng-click="actionSelected('Remove')">Remove</button>
    </div>
  </h1>
</div>
<div class="panel panel-default" style="clear: both;">
  <div class="panel-heading">

    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-search"></i>
      </span>
      <input ng-model="search" class="form-control" placeholder="Containers search for ...">
      <span class="input-group-btn" >
          <button type="button" class="btn" ng-class="toggleUp ? 'btn-success' : 'btn-default'" ng-model="toggleUp" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
              {{( toggleUp && 'Up' ) || 'All'}}
          </button>
        </span>
      <span class="input-group-btn" ng-show="containers.length > viewLimit">
        <button class="btn btn-info" type="button" ng-click="viewLimit=999">Show All</button>
      </span>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <span class="glyphicon glyphicon-check" ng-click="selectAllContainers(visibleContainers)"></span>
          </th>
          <th>Actions</th>
          <th>
            <a href ng-click="sort='Name'; reverse=!reverse">
              <i class="fa fa-sort"></i> Name
            </a>
          </th>
          <th>
            <a href ng-click="sort='Status'; reverse=!reverse">
              <i class="fa fa-sort"></i> Status
            </a>
          </th>
          <th>
            <a href ng-click="sort='Image'; reverse=!reverse">
              <i class="fa fa-sort"></i> Image
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="container in visibleContainers = (containers | filter:search | limitTo:viewLimit | orderBy:sort:reverse) track by container.Id"
          ng-init="name=container.Name" ng-hide="(toggleUp && container.State!=='running') || container.Image.startsWith('sha256:')">

          <td>
            <input type="checkbox" ng-model="container.Selected" ng-click="selectContainer(container.Selected, visibleContainers)">
          </td>

          <td>
            <button class="btn btn-success btn-xs" ng-click="startContainer(container.Id)" ng-if="container.Status.indexOf('Up')">
              Start
            </button>
            <button class="btn btn-warning btn-xs" ng-click="stopContainer(container.Id)" ng-if=" !container.Status.indexOf('Up')">
              Stop
            </button>
            <button class="btn btn-danger btn-xs" ui-sref="removeContainer({name: name})">
              Remove
            </button>
          </td>
          <td>
            <a ui-sref="containerInfo({name: container.Name})">{{:: container.Name }}</a>
          </td>
          <td>
            <span class="label label-{{container.Status.indexOf('Up')?'danger':'success'}}">
              {{container.Status.replace('(137)', '') }}
            </span>
          </td>
          <td>
            <a ui-sref="imageInfo({name: container.Image})" title="{{:: container.Image }}">
              {{:: (container.Image.length > 41) ? container.Image.substr(0, 39) + ".." : container.Image }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>