<div ng-if="containers.length > 0">
  <h1 class="header-small"> <i class="fa fa-th"></i>  Containers
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="button" ng-click="actionSelected('Start')">Start</button>
      <button class="btn btn-sm btn-warning" type="button" ng-click="actionSelected('Stop')">Stop</button>
      <button class="btn btn-sm btn-danger" type="button" ng-click="actionSelected('Remove')">Remove</button>
    </div>
  </h1>
</div>
<div class="panel panel-default" ng-if="containers.length > 0">
  <div class="panel-heading" ng-hide="containers.length < searchThreshold">

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input ng-model="search" class="form-control" placeholder="Containers search for ...">
      <span class="input-group-btn" ng-show="containers.length > viewLimit">
        <button class="btn btn-info" type="button" ng-click="viewLimit=999">Show All</button>
      </span>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <span class="glyphicon glyphicon-check"
                  ng-click="selectAllContainers(visibleContainers)"></span>
          </th>
          <th>Actions</th>
          <th>
            <a href ng-click="sort='Name'; reverse=!reverse">
              <i class="fa fa-sort"></i> Name
            </a>
          </th>
          <th>
            <a href ng-click="sort='Status'; reverse=!reverse">
              <i class="fa fa-sort"></i> Status
            </a>
          </th>
          <th>
            <a href ng-click="sort='Image'; reverse=!reverse">
              <i class="fa fa-sort"></i> Image
            </a>
          </th>
          <th>
            <a href ng-click="sort='Created'; reverse=!reverse">
              <i class="fa fa-sort"></i> Created
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="container in visibleContainers = (containers | filter:search | limitTo:viewLimit | orderBy:sort:reverse) track by container.Id"
        ng-if="settings.advanced || !imageFilter(container, 'amhub')"
        ng-init="name=container.Name">

          <td>
            <input type="checkbox" ng-model="container.Selected" ng-click="selectContainer(container.Selected, visibleContainers)">
          </td>

          <td>
            <button class="btn btn-success btn-xs" ng-click="startContainer(container.Id)"
            ng-if="container.Status.indexOf('Up')">
              Start
            </button>
            <button class="btn btn-warning btn-xs" ng-click="stopContainer(container.Id)"
            ng-if=" !container.Status.indexOf('Up')">
              Stop
            </button>
            <button class="btn btn-danger btn-xs" ui-sref="removeContainer({name: name})">
              Remove
            </button>
          </td>
          <td>
            <a ui-sref="containerInfo({name: container.Name})">{{:: container.Name }}</a>
          </td>
          <td>
            <span class="label label-{{::container.Status.indexOf('Up')?'danger':'success'}}">
              {{:: container.Status }}
            </span>
          </td>
          <td>
            <a ui-sref="imageInfo({name: container.Image})" ng-if="settings.advanced">
              {{:: container.Image }}
            </a>
            <span ng-if=" !settings.advanced">{{:: container.Image }}</span>
          </td>
          <td>{{:: container.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
